
body {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: lightsalmon;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-table {
  width: 80%;
  min-width: fit-content;
  background-color: brown;
  padding: 10px;
}

.flex-row {
  display: flex;
  background-color: DodgerBlue;
  align-content: stretch;
  align-items: center;
  padding: 10px;
}

.cell {
  display: flex;
  align-items: center;
  color: black;
  background-color: inherit;
  margin: 5px;
  /*padding: 5px;*/
  font-size: 20px;
}

.cellHeader {
  color: white;
  background-color: inherit;
}

textarea {
  height: 100%;
  width: 100%;
  font-size: inherit;
  flex: 1;
}

button {
  /*height: 22px;*/
}

