
body {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-table {
  width: 80%;
  min-width: fit-content;
  background-color: #EEEEEE;
  padding: 10px;
}

.flex-row {
  display: flex;
  background-color: #bbbbbb;
  align-content: stretch;
  align-items: center;
  padding: 10px;
}

.cell {
  display: flex;
  align-items: center;
  color: black;
  background-color: inherit;
  margin: 5px;
  /*padding: 5px;*/
  font-size: 16px;
}

.cellHeader {
  color: white;
  background-color: inherit;
  font-size: 20px;
}

textarea {
  width: 100%;
  font-size: inherit;
  flex: 1;
}

button {
  /*height: 22px;*/
  font-size: 18px;
}

.btn {
  /*background-color: DodgerBlue;*/
  padding: 0;
  border: none;
  background: none;
  color: #FFFFFF;
  /*padding: 12px 16px;*/
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  color: #888888;
}

input[type=number] {
  width: 3em;
  font-size: inherit;
}
